.navigation {
  @media only screen and (max-width: 1100px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media only screen and (max-width: 960px) {
    height: 60px;
  }
  top: 0;
  width: 100%;
  z-index: 10;
  position: fixed;
  background-color: #fff;
  box-shadow: 2px 1px 2px #eee;
  perspective: 600px;
}

.navigation a {
  font-weight: 400;
}

.navigation .logo1 {
  max-height: 17px;
  vertical-align: middle;
  position: relative;
  top: 18px;
  padding-top: 16px;
}

.flexrow {
  @media only screen and (max-width: 960px) {
    margin-bottom: 0;
  }
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo1 {
  @media only screen and (max-width: 960px) {
    min-width: 91%;
    max-width: 91%;
  }
  @media only screen and (max-width: 800px) {
    position: relative;
    min-width: 100%;
  }
  margin-left: 0;
  position: relative;
  flex-basis: 40%;
  width: 40%;
  flex: 0 1 auto;
}

.para1 li {
  @media only screen and (max-width: 960px) {
    margin: 0;
    text-align: left;
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 7px;
  }
  display: inline;
}

.small {
  @media only screen and (max-width: 960px) {
    display: none !important;
  }
}

.logo1 a img {
  @media only screen and (max-width: 960px) {
    width: 150px !important;
    height: auto;
    max-height: 100px;
    vertical-align: middle;
  }
}

.navigation .logo1 img {
  @media only screen and (max-width: 960px) {
    position: relative;
    top: 15px;
  }
  @media only screen and (max-width: 550px) {
    max-width: 110px;
  }
}

.para1 li a {
  @media only screen and (max-width: 960px) {
    padding: 0;
    font-size: 0.9rem !important;
    color: #444;
  }
  color: #666;
  font-size: 0.9rem;
  transition: color 0.3s;
  display: inline-block;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}

.logo1-2 {
  @media only screen and (max-width: 960px) {
    min-width: 91%;
    max-width: 91%;
  }
  @media screen and (max-width: 800px) {
    min-width: 100%;
  }
  display: flex;
  flex: 0 1 auto;
  flex-basis: 56.6666666667%;
  width: 56.6666666667%;
}

.para1 {
  @media only screen and (max-width: 960px) {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 20px;
    padding-bottom: 20px;
    padding-top: 0px;
  }
  justify-content: space-between;
  list-style-type: none;
  text-align: right;
  margin: 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 20px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.navigation .navcon {
  padding: 0;
}

.navcon {
  @media only screen and (max-width: 960px) {
    overflow: visible;
  }
  @media screen and (max-width: 800px) {
    overflow: auto;
  }
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: -14px auto;
  box-sizing: border-box;
}

.slot1 {
  text-align: center;
}

.slt1 {
  @media screen and (max-width: 800px) {
    overflow: auto;
  }
}

.slot1 .slt1 .img1 img {
  margin-bottom: 45px;
  height: auto;
}

.img1 {
  width: 100%;
  height: 317px;
}
.txt1 {
  font-family: $font-main;
}
.landingheading {
  font-size: 2.75rem;
  font-weight: 500;
  height: 100px;
}

.landingpara1 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  background-color: $blue;
  color: #ffffff;
  border: 1px solid transparent !important;
  border-radius: 3px;
  padding: 10px 30px;
  align-items: center;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.slot2 {
  padding-top: 100px !important;
}

.slt2 {
  display: flex;
  align-items: center;
  margin: 0px 20px 20px 20px;
  justify-content: space-between;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.img2 {
  margin-top: 90px;
  max-width: 100%;
  flex-basis: 40;
  width: 40;
  border-style: none;
  margin-bottom: 30px;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
  display: block;
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 20px;
}

.row2 {
  display: flex;
  flex: 0 1;
  flex-flow: row wrap;
}
.list2 {
  margin: 0;
  min-width: 100%;
  flex-basis: 48%;
  width: 48%;
}

ul.list2-1 {
  padding-left: 20px;
}

ul.list2-1 li {
  margin-bottom: 8px;
}

img {
  max-width: 100%;
  border-style: none;
}

ul {
  @media screen and (max-width: 800px) {
    padding: 0;
    text-align: left;
    list-style-position: inside;
  }

  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.col {
  min-width: 100%;
  flex: 0 1;
  flex-basis: 48%;
  width: 48%;
}

.img2-2 {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div {
  display: block;
}

section {
  @media only screen and (max-width: 768px) {
    padding: 30px 20px !important;
  }
  @media only screen and (max-width: 1100px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  display: block;
  padding: 0 20px 120px 20px;
  padding: 80px 0 0 0;
}

.txt3 {
  text-align: center;
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.slt3 .img3-1 a img {
  @media screen and (max-width: 800px) {
    overflow: auto;
    width: 650px;
    height: 300px;
  }
  @media screen and (max-width: 500px) {
    overflow: auto;
    width: 440px;
    height: 200px;
  }
}

.slt3 {
  @media screen and (max-width: 800px) {
    overflow: auto;
  }
}

.slt3 p {
  text-align: center;
}

h2 {
  display: block;
  margin-top: 0px;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

h4 {
  display: block;
  font-size: 1.5rem;
  margin-top: 0px;
  font-weight: 500;
  margin-bottom: 20px;
}

h5 {
  display: block;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

.img3-1 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  display: block;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 15px;
}

a {
  background-color: transparent;
  color: #387ed1;
  text-decoration: none;
  font-weight: 500;
}

.slt4 {
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.slt4 {
  @media screen and (max-width: 800px) {
    overflow: auto;
    margin-bottom: 20px;
  }
  align-items: center;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.txt4 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
  }
  margin-left: 0;
  flex-basis: 40%;
  width: 40%;
  flex: 0 1 auto;
}

.list4 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
    margin-bottom: 20px;
  }

  flex-basis: 48%;
  width: 48%;
  box-sizing: border-box;
  flex: 0 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.col4-1 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
    border-right: 1px solid #ccc;
    border: 1px solid #ccc;
  }
  margin-left: 0;
  text-align: center;
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-basis: 48%;
  width: 48%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 0 25px;
  box-sizing: border-box;
  min-height: 190px;
  border: 1px solid #ccc;
}

.col4-2 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
    border-right: 1px solid #ccc;
    border: 1px solid #ccc;
  }
  text-align: center;
  flex-basis: 48%;
  width: 48%;
  box-sizing: border-box;
  flex: 0 1 auto;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ccc;
  padding: 0 25px;
  box-sizing: border-box;
  min-height: 190px;
}

.slt5 {
  @media screen and (max-width: 800px) {
    overflow: auto;
    margin-bottom: 20px;
  }
  display: flex;
  position: relative;
  width: 1100px px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.img5-1 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
  }
  margin-left: 0;
  text-align: center;
  flex-basis: 39.3333333333%;
  width: 39.3333333333%;
  box-sizing: border-box;
  flex: 64 1 auto;
}

.img5-1 a img {
  margin-bottom: 30px;
}

.txt5-1 {
  @media screen and (max-width: 800px) {
    min-width: 100%;
  }
  flex-basis: 48%;
  width: 48%;
  box-sizing: border-box;
  flex: 0 1 auto;
}

.slot6 {
  @media only screen and (max-width: 550px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  padding-bottom: 60px;
  padding: 40px 0;
  text-align: center;
}

.slt6 {
  width: 900px;
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.slot6 h2 {
  font-weight: 500;
}

.txt6-1 p {
  color: #666;
}

.slot6 .slt6 a {
  margin-top: 20px;
}

footer {
  display: block;
  background-color: #fafafb;
  padding: 30px 0 5px 0;
  border-top: 1px solid #eee;
}

.cmpltfooter {
  @media only screen and (max-width: 1100px) {
    padding: 0 20px;
  }
  @media only screen and (max-width: 800px) {
    overflow: auto;
  }
  position: relative;
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.mainflex {
  @media only screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  justify-content: space-between;
}

.foot1 {
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
    min-width: 100%;
  }
  margin-left: 0;
  flex-basis: 22%;
  width: 22%;
  flex: 0 1 auto;
}

.footimg1-1 {
  padding: 10px 0;
}

footer .footimg1-1 img {
  max-height: 20px;
  width: auto;
}

footer .foottxt1-1 .foottxt1-2 {
  margin: 0;
  font-size: 0.8rem;
  color: #666;
}

footer .soc {
  padding: 0;
  margin-top: 15px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .mainflex li {
  line-height: 2;
}

footer .soc li {
  display: inline-block;
  margin-right: 10px;
}

footer .foot2 ul li a {
  color: #666;
}

footer .foot3 ul li a {
  color: #666;
}
footer .foot4 ul li a {
  color: #666;
}

footer .foot6 ul li a {
  color: #666;
}

footer .soc li a {
  color: #666;
}

footer .soc a {
  font-size: 1.25rem;
  color: #9b9b9b;
  line-height: 1;
}

.foot2 {
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
    min-width: 100%;
  }
  margin-left: 0;
  flex-basis: 22%;
  width: 22%;
  flex: 0 1 auto;
}

.foot3 {
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
    min-width: 100%;
  }
  margin-left: 0;
  flex-basis: 22%;
  width: 22%;
  flex: 0 1 auto;
}

.foot4 {
  @media only screen and (max-width: 800px) {
    margin-bottom: 40px;
    min-width: 100%;
  }
  margin-left: 0;
  flex-basis: 22%;
  width: 22%;
  flex: 0 1 auto;
}

.foot5 {
  @media screen and (max-width: 800px) {
    margin-bottom: 20px;
  }
}

footer .mainflex .navhead {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 10px;
  font: bold;
}

footer .foot5 {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

footer .foot5 {
  color: #9b9b9b;
  margin-top: 40px;
}

footer .foot5 p {
  font-size: 0.65rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.foot6 {
  text-align: center;
}

footer .foot6 ul li {
  display: inline;
  font-size: 0.8rem;
  margin-right: 20px;
}
